body {
    background: url(../img/bg.jpg) repeat;
}
.navbarhead {
    position: relative;
    z-index: 1001;
    width: 100%;
    min-height: 50px;
    background-color: #499ef3;
}
.main {
    margin: 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    height: 45px;
    width: 45px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.container {
    margin: auto !important;
    max-width: 2500px !important;
}
a:focus{text-decoration: none}
