html,body {
    background: url(../img/bg.jpg) repeat;
}
.navbarhead {
    position: relative;
    z-index: 1001;
    width: 100%;
    min-height: 50px;
    background: #499ef3;
    color: white !important;
}
.navbar {
     margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    /*color: #777;*/
    color: white;
}
.navbar-default .navbar-brand {
    /*color: #777;*/
    color: white;
}
.aw-main-content {
    padding: 20px;
    /*border-right: 1px solid #e6e6e6;*/
}
em {
    font-style: normal;
}
.aw-question-tags {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
}
.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}
.main {
    margin: 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    height: 45px !important;
    width: 45px!important;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.container {
    margin: auto !important;
    max-width: 2500px !important;
}
a:focus{text-decoration: none}
.jumbotron {
    text-align: center;
}
.reply {
    margin: 10px 0;
    float: right;
}
.aw-nav-tabs {
    position: relative;
    z-index: 1;
    min-height: 63px;
    min-height: 32px\9;
    margin: 0;
    padding: 30px 20px 0;
    border-color: #e6e6e6;
}
.aw-nav-tabs.active > li {
    float: right;
}
.aw-nav-tabs > li {
    margin: 0 4px 0 0;
    font-size: 14px;
}
.comment {
    padding-left: 55px;
}
.mod-body {
    margin-top: 30px;
}
#commentArea {
    margin-top: 30px;
}
.glyphicon-tags:before {
    padding-right: 5px;
}
.label-info {
    background-color: #5bc0de !important;
    display: inline-block;
    margin: 10px 5px;
}
/*.glyphicon {
    margin: 8px 0;
}*/
.tags {
    display: none;
}
.mod-footer {
    overflow: hidden;
}
.navbar-collapse {
    width:90%;
}
.unread {
    float: right;
    color: white;
    background: red;
}
