<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页 </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!--<link rel="stylesheet" href="/css/common.css">-->
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head :: headnavbar}"></div>
<div class="container" style="margin: 30px; background: white;height: auto;">
    <!--导航栏-->
    <ul class="nav nav-pills" style="margin: 30px 0px">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">JAVA</a></li>
        <li role="presentation"><a href="#">JS</a></li>
        <li role="presentation"><a href="#">CSS</a></li>
        <li role="presentation"><a href="#">VUE</a></li>
        <li role="presentation"><a href="#">其他</a></li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 ">
                <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h3>
                <!--导航栏-->
               <!-- <ul th:if="${paginationDTO.content.size() != 0}" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">全部</a></li>
                    <li role="presentation"><a href="#">最新</a></li>
                    <li role="presentation"><a href="#">最热</a></li>
                </ul>-->
                <!--内容-->
                <div class="media" th:if="${paginationDTO.content != null}" th:each="QuestionDTO:${paginationDTO.content}">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" th:src="${QuestionDTO.user.headUrl}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a  th:href="@{'/question/'+${QuestionDTO.question.id}}" th:text="${QuestionDTO.question.title}"></a></h4>
                    <!--   <span th:text="${QuestionDTO.question.description}"></span><br>-->
                        <span class="text-desc">
<!--
                            <a class="aw-question-tags" href="#" th:text="${#strings.arraySplit(QuestionDTO.question.tags, '，')[0]}"></a>
-->
                            <a class="label label-info" href="#"><span class="glyphicon glyphicon-tags"  th:text="${#strings.arraySplit(QuestionDTO.question.tags, '，')[0]}"></span></a>
                            <span th:text="${QuestionDTO.question.commentCount}"></span> 个评论 • <span th:text="${QuestionDTO.question.viewCount}"></span>  次浏览
                             • <span th:text="${#dates.format(QuestionDTO.question.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </span>
                    </div>
                </div>
                <div th:if="${paginationDTO.content.size() == 0}">暂无数据~~</div>
                <!--分页-->
                <div class="mod-footer" th:if="${paginationDTO.content.size() != 0}">
                    <div class="page-control">
                        <ul class="pagination pull-right">
                            <li th:if="${paginationDTO.showFirstPage}"><a th:href="@{/(search=${search},page=1)}">&lt;&lt;</a>
                            </li>
                            <li th:if="${paginationDTO.showPrevPage}"><a th:href="@{/(search=${search},page=${paginationDTO.page -1})}">&lt;</a>
                            </li>
                            <li th:each=" cupage : ${paginationDTO.pages}" th:class="${cupage == paginationDTO.page}? 'active' : ''">
                                <a th:href="@{/(search=${search},page=${cupage})}" th:text="${cupage}"></a>
                            </li>
                            <li th:if="${paginationDTO.showNextPage}"><a th:href="@{/(search=${search},page=${paginationDTO.page +1})}">&gt;</a>
                            </li>
                            <li th:if="${paginationDTO.showEndPage}"><a th:href="@{/(search=${search},page=${paginationDTO.totalPage})}">&gt;&gt;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 aw-side-bar hidden-xs hidden-sm">
                <h3>最热话题</h3>
                <ul th:each="relate:${relatedQuestions}">
                    <li ><a  th:href="@{'/question/'+${relate.id}}" th:text="${relate.title}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
