<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>问题详情</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head :: headnavbar}"></div>
<div class="container-fluid main container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 aw-main-content">
            <h2 th:text="${questionDTO.question.title}">发起</h2>
            <em class="text-color-999">	<a class="aw-question-tags" href="#" th:text="${questionDTO.question.tags}"> </a>
                | 作者 <a class="aw-user-name" href="#" data-id="10792" th:text="${questionDTO.user.name}"></a>
                | 发布于<span th:text="${#dates.format(questionDTO.question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> | 阅读数：<span th:text="${questionDTO.question.viewCount}"></span>
                <a th:if="${ session.user !=null && questionDTO.user.accountId == session.user.accountId}" th:href="@{/publish(id=${questionDTO.question.id})}" class="community-menu">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                </a>
            </em>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  th:text="${questionDTO.question.description}">

            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <!--标签-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="question-tag">
                        <a href="/?page=1&amp;tag=java" class="community-tag" th:text="${questionDTO.question.tags}"></a>
                    </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 aw-main-content">
            <h3>发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${questionDTO.user.headUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <span th:text="${questionDTO.user.name}"></span>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <h4>相关问题</h4>
        </div>
    </div>
</div>
</body>
</html>
